<div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		
			<% flash.each do |name, msg| %>
			    <% if name == "notice" %>
			        <div class="alert alert-success">
			          <a class="close" data-dismiss="alert">×</a>
			          <%= msg %>
			        </div>
			    <% elsif name == "alert" %>
			        <div class="alert alert-error bg-danger">
			          <a class="close" data-dismiss="alert">×</a>
			          <%= msg %>
			        </div>
			    <% end %>
			<% end %>

			<h1>ミニブログ</h1>

			<div style="padding-top:30px;">
				<%= render "blogs/form" %>
			</div>

			<div id="content-blogs" style="padding-top:30px;">
				<% @blogs.each do |blog| %>
					<%= render "blogs/blog_show" ,blog: blog %>
				<% end %>
			</div>

		</div>
	</div>
</div>